body {
    background: #231C24 !important;
}

.r-16kd837 {
    background: #231B24 !important;
}

.r-kemksi {
    background: #19141A !important;
}

.r-5zmot {
    background-color: #171218aa !Important;
}

.r-buy8e9 {
    background-color: #231C24aa !important;
    backdrop-filter: blur(10px);
}
